# src/main/resources/application.yml

spring:
  application:
    name: spring-real-time-learning

server:
  port: 8082 # Or 8082 if 8081 is still in use

# Inside src/main/resources/application-docker.yml
camunda.client:
  zeebe:
    address: http://zeebe:26500 # Use service name "zeebe"
    auth.mode: none
    gateway-security.enabled: false

  operate:
    baseUrl: http://operate:8080 # Use service name "operate" and its internal port
    auth.mode: none

  tasklist:
    baseUrl: http://tasklist:8080 # Use service name "tasklist" and its internal port
    auth.mode: none
