spring:
  application:
    name: spring-real-time-learning

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/demo  # Keycloak hostname inside Compose network

server:
  port: 8080
  address: 0.0.0.0   # required for Docker container
